<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132204883000-ugbj1sb00b6b2p6ddg15u0ko8slbe5b3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132204883000-ugbj1sb00b6b2p6ddg15u0ko8slbe5b3</string>
	<key>API_KEY</key>
	<string>AIzaSyC3BCeyiFu86l_HrfTge7hPi1XqoRie1Nw</string>
	<key>GCM_SENDER_ID</key>
	<string>132204883000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CXRE</string>
	<key>PROJECT_ID</key>
	<string>cxre-56186</string>
	<key>STORAGE_BUCKET</key>
	<string>cxre-56186.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132204883000:ios:2a180dd54732c345</string>
	<key>DATABASE_URL</key>
	<string>https://cxre-56186.firebaseio.com</string>
</dict>
</plist>